body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
  }

  header {
    background-color: #656565;
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
  }

  form {
    width: 100%;
    align-self: center;
  }

  input[type=button], input[type=submit]{
    background-color: #04AA6D;
    border: 2px solid blue;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    width: 50%;
    border-radius: 4px;
    font-size: large;
    
  }

  input[type=text] {
    border: 2px solid blue;
    border-radius: 4px;
    width: 25%;
    padding: 16px 32px;
    font-size: large;
  }

  h1 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
  }

  h2 {
    font-size: 4em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
    text-decoration: underline;
  }

  .box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    inline-size: 80%;
    margin: auto;
    font-size: 2em;
    gap: 75px;
    box-shadow: #444;
  }
  .context {
    box-shadow: #444;
  }
  .ui-autocomplete{
    text-align: left;
  }