<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<html>
<head>
    <title>LCP_Gutenberg</title>
    <link rel="icon" type="image/jpg" href="../images/favicon.jpg"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
    </script>  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script>  
    
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" /> 
    
        
</head>
<body>
    <h1>LCP_Gutenberg</h1>
    <p> By Henry Sanford</p>
    <p> Find the longest common phrase between any two texts from <a href="https://www.gutenberg.org/">Project Gutenberg</a>.</p>
    <form action="" method="POST", id="form">
      <input type="text" id="tags", name = "text 1", value="{{a_title}}">
      <input type = "text" id = "tags2", name = "text 2", value="{{b_title}}">
      <input type = "submit" value = "Submit" onclick="loading();" id = "submit">
    </form>
    <img src="static/loadingimage.gif" id ="loading"  style="width:30%;height:30%;"> 
    
    <h2> {{subseq}}</h2>

    <div class="box", id = "context_box">
        <article class = "context">{{a_leading_context}}<b><u>{{subseq}}</u></b>{{a_trailing_context}}</article>
        <article class = "context">{{b_leading_context}}<b><u>{{subseq}}</u></b>{{b_trailing_context}}</article>
    </div>

      
    <script>
    $( function() {
    var availableTags = [
        {% for title in titles %}
            "{{title}}",
        {% endfor %}
    ];
    $( "#tags" ).autocomplete({
      source: function(request, response) {
        var results = $.ui.autocomplete.filter(availableTags, request.term);

        response(results.slice(0, 10));
    }

    });
    $( "#tags2" ).autocomplete({
      source: function(request, response) {
        var results = $.ui.autocomplete.filter(availableTags, request.term);

        response(results.slice(0, 10));
    }

    });

  } );
  </script>

  <script type="text/javascript">// <![CDATA[
    function loading(){
        $("#loading").show();
        $("#submit").hide();       
    }
  // ]]></script>
    
</body>
</html>